@import url(http://fonts.googleapis.com/css?family=Montserrat:700);
/*! NYER - version 1.0.0 */
/* by Chris Burnell (@iamchrisburnell)
 * A valuable tool for all ages, all occasions!
 *
 * Table of Contents:
 *
 * MONTSERRAT................ Import our font from Google Fonts.
 * NORMALIZE................. Import normalize as a reset.
 * NYER STYLES............... Just the general styles, y’know?
 */
/* normalize.css v2.1.3 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio, canvas, video {
  display: inline-block; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden], template {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b, strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap; }

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0; }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button, input, select, textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button, input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button, select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled], html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

.instructions, button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0); }

/*------------------------------------*\
    $ BASE NYER
\*------------------------------------*/
html, body {
  height: 100%; }

html {
  box-sizing: border-box;
  -ms-touch-action: manipulation;
      touch-action: manipulation; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  background: #111111;
  color: #FFFFFF;
  position: relative;
  overflow: hidden;
  font: 700 normal 16px/1em "Montserrat", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }

.svg-master {
  display: none; }

a {
  color: #FFFFFF; }

article, aside, section {
  width: 100%;
  height: 100%; }

.hidden {
  display: none; }

/*------------------------------------*\
    $ NYER INSTRUCTIONS
\*------------------------------------*/
.instructions {
  opacity: 1;
  font-size: 3em;
  text-align: center;
  white-space: nowrap;
  z-index: 0;
  -webkit-transition: opacity 0.1s linear 0.9s;
          transition: opacity 0.1s linear 0.9s; }
  @media screen and (max-width: 800px) {
    .instructions {
      font-size: 2em; } }
  @media screen and (max-width: 500px) {
    .instructions {
      font-size: 1em; } }
  .instructions h2, .instructions h3 {
    line-height: 1.5em;
    margin: 0; }
  .instructions h2 {
    margin-bottom: 0.5em; }
  .instructions h3 {
    color: #919191;
    font-size: 0.8em; }
    @media screen and (max-width: 500px) {
      .instructions h3 {
        font-size: 1em; } }
  button:active + .instructions {
    opacity: 0;
    -webkit-transition: none;
            transition: none; }

button {
  background-color: transparent;
  opacity: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  border: 0;
  font-size: 12em;
  font-weight: bold;
  line-height: 1em;
  z-index: 1;
  -webkit-transition: opacity 0.1s linear 0.9s;
          transition: opacity 0.1s linear 0.9s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent; }
  @media screen and (max-width: 800px) {
    button {
      font-size: 8em; } }
  @media screen and (max-width: 500px) {
    button {
      font-size: 5em; } }
  button:active {
    opacity: 1;
    -webkit-transition: none;
            transition: none; }
  button:before, button:after {
    content: attr(data-text);
    color: gold;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    text-transform: uppercase;
    -webkit-transform: translate3d(-50%, -50%, 0) scale(1);
            transform: translate3d(-50%, -50%, 0) scale(1); }
  button:active:before, button:active:after {
    -webkit-transform: translate3d(-50%, -50%, 0) scale(1.25);
            transform: translate3d(-50%, -50%, 0) scale(1.25); }
  button:before {
    text-shadow: 0 1px 0 rgba(196, 148, 29, 0.9), 0 2px 0 rgba(196, 148, 29, 0.9), 0 3px 0 rgba(196, 148, 29, 0.8), 0 4px 0 rgba(196, 148, 29, 0.7), 0 5px 0 rgba(196, 148, 29, 0.6), 0 6px 0 rgba(196, 148, 29, 0.5);
    z-index: 2; }
  button:after {
    background-image: -webkit-linear-gradient(gold 0%, gold 15%, moccasin 40%, gold 85%, goldenrod 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 0.5em rgba(255, 255, 255, 0.5);
    z-index: 3;
    -webkit-animation: shiny 2s linear 1s infinite;
            animation: shiny 2s linear 1s infinite; }
  button img, button svg {
    height: 95%;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
  button svg {
    width: 200vw;
    width: 4000px;
    min-width: 100%; }

@-webkit-keyframes shiny {
  16.66% {
    background-image: -webkit-linear-gradient(#ffffff 0%, gold 15%, moccasin 40%, gold 85%, goldenrod 100%);
    background-image: linear-gradient(#ffffff 0%, gold 15%, moccasin 40%, gold 85%, goldenrod 100%); }

  33.33% {
    background-image: -webkit-linear-gradient(gold 0%, #ffffff 15%, moccasin 40%, gold 85%, goldenrod 100%);
    background-image: linear-gradient(gold 0%, #ffffff 15%, moccasin 40%, gold 85%, goldenrod 100%); }

  50% {
    background-image: -webkit-linear-gradient(gold 0%, gold 15%, #ffffff 40%, gold 85%, goldenrod 100%);
    background-image: linear-gradient(gold 0%, gold 15%, #ffffff 40%, gold 85%, goldenrod 100%); }

  66.66% {
    background-image: -webkit-linear-gradient(gold 0%, gold 15%, moccasin 40%, #ffffff 85%, goldenrod 100%);
    background-image: linear-gradient(gold 0%, gold 15%, moccasin 40%, #ffffff 85%, goldenrod 100%); }

  83.33% {
    background-image: -webkit-linear-gradient(gold 0%, gold 15%, moccasin 40%, gold 85%, #fefdfb 100%);
    background-image: linear-gradient(gold 0%, gold 15%, moccasin 40%, gold 85%, #fefdfb 100%); } }

@keyframes shiny {
  16.66% {
    background-image: -webkit-linear-gradient(#ffffff 0%, gold 15%, moccasin 40%, gold 85%, goldenrod 100%);
    background-image: linear-gradient(#ffffff 0%, gold 15%, moccasin 40%, gold 85%, goldenrod 100%); }

  33.33% {
    background-image: -webkit-linear-gradient(gold 0%, #ffffff 15%, moccasin 40%, gold 85%, goldenrod 100%);
    background-image: linear-gradient(gold 0%, #ffffff 15%, moccasin 40%, gold 85%, goldenrod 100%); }

  50% {
    background-image: -webkit-linear-gradient(gold 0%, gold 15%, #ffffff 40%, gold 85%, goldenrod 100%);
    background-image: linear-gradient(gold 0%, gold 15%, #ffffff 40%, gold 85%, goldenrod 100%); }

  66.66% {
    background-image: -webkit-linear-gradient(gold 0%, gold 15%, moccasin 40%, #ffffff 85%, goldenrod 100%);
    background-image: linear-gradient(gold 0%, gold 15%, moccasin 40%, #ffffff 85%, goldenrod 100%); }

  83.33% {
    background-image: -webkit-linear-gradient(gold 0%, gold 15%, moccasin 40%, gold 85%, #fefdfb 100%);
    background-image: linear-gradient(gold 0%, gold 15%, moccasin 40%, gold 85%, #fefdfb 100%); } }

/*------------------------------------*\
    $ NYER HORN LIST
\*------------------------------------*/
input[name="toggle-horn-list"] {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 100%; }

.show-horn-list, .hide-horn-list {
  display: block;
  position: absolute;
  cursor: pointer;
  z-index: 5; }

.show-horn-list {
  background: #5F8AA6;
  color: #FFFFFF;
  opacity: 0.5;
  padding: 1em;
  top: 0.625em;
  left: 50%;
  font-size: 0.8em;
  border-radius: 0.375em;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.5), inset 0 -3px 0 0 rgba(0, 0, 0, 0.5);
  -webkit-transform: translate3d(-50%, -150%, 0);
          transform: translate3d(-50%, -150%, 0);
  -webkit-transition: opacity 0.2s ease-in-out, -webkit-transform 0.2s cubic-bezier(0.5, 0.9, 0.8, 1.25);
          transition: opacity 0.2s ease-in-out, transform 0.2s cubic-bezier(0.5, 0.9, 0.8, 1.25); }
  .show-horn-list:hover, .show-horn-list:focus {
    opacity: 1; }
  #hide-horn-list:checked ~ .show-horn-list {
    -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0); }

.hide-horn-list {
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  display: none;
  top: 0;
  left: 0;
  z-index: 5; }
  #show-horn-list:checked ~ .hide-horn-list {
    display: block; }
  .hide-horn-list span {
    color: #FFFFFF;
    display: block;
    position: absolute;
    bottom: 1em;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
    .hide-horn-list span:before {
      content: "\2716\00a0"; }

.horn-list-container {
  background: #5F8AA6;
  color: #FFFFFF;
  width: auto;
  min-width: 16em;
  max-width: 90%;
  padding: 3em 0.5em 0.5em;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 6;
  border-radius: 0 0 0.375em 0.375em;
  box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.5);
  -webkit-transform: translate3d(-50%, -100%, 0);
          transform: translate3d(-50%, -100%, 0);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.5, 0.9, 0.8, 1.25);
          transition: transform 0.2s cubic-bezier(0.5, 0.9, 0.8, 1.25); }
  #show-horn-list:checked ~ .horn-list-container {
    -webkit-transform: translate3d(-50%, -2.5em, 0);
            transform: translate3d(-50%, -2.5em, 0); }

.horn-list {
  width: 100%;
  display: block;
  padding: 0;
  margin: 0;
  list-style: none;
  counter-reset: ordered-list; }
  .horn-list li {
    position: relative;
    counter-increment: ordered-list; }
  .horn-list a {
    width: 100%;
    display: block;
    padding: 0.5em;
    text-decoration: none; }
    .horn-list a:hover, .horn-list a:focus {
      text-decoration: underline; }
    .horn-list a:before {
      content: counter(ordered-list) ".";
      color: rgba(255, 255, 255, 0.75);
      display: inline-block;
      min-width: 1.5em; }

/*------------------------------------*\
    $ NYER CREDITS
\*------------------------------------*/
.credits {
  position: absolute;
  bottom: 1em;
  left: 50%;
  line-height: 2.5em;
  text-shadow: 0 0 0.5em #000000;
  white-space: nowrap;
  z-index: 4;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }
  @media screen and (max-width: 500px) {
    .credits {
      font-size: 0.8125em; } }
  .credits svg {
    width: 2.5em;
    height: 2.5em;
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.25em; }
  .credits a {
    color: #5F8AA6;
    text-decoration: none; }
  .credits div {
    display: inline; }
    @media screen and (max-width: 500px) {
      .credits div {
        display: block;
        text-align: center; } }
  @media screen and (max-width: 500px) {
    .credits span {
      display: none; } }
