/*------------------------------------*\
    $ BASE NYER
\*------------------------------------*/

html,
body {
    height: 100%;
}
html {
    box-sizing: border-box;
    touch-action: manipulation;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    background: $gray;
    color: $white;
    position: relative;
    overflow: hidden;
    font: 700 normal #{$base-font-size}/1em $primary-font-stack;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.svg-master {
    display: none;
}

a {
    color: $white;
}

article,
aside,
section {
    width: 100%;
    height: 100%;
}

.hidden {
    display: none;
}
