button {
    @extend %full;
    background-color: transparent;
    opacity: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0;
    font-size: 12em;
    font-weight: bold;
    line-height: 1em;
    z-index: 1;
    transition: opacity .1s linear .9s;
    // Disable highlight colour on mobile
    -webkit-tap-highlight-color: rgba($black, 0);
    -webkit-tap-highlight-color: transparent;

    @include breakpoint("tablet") {
        font-size: 8em;
    }

    @include breakpoint("mobile") {
        font-size: 5em;
    }

    &:active {
        opacity: 1;
        transition: none;
    }

    &:before,
    &:after {
        content: attr(data-text);
        color: gold;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        text-transform: uppercase;
        transform: translate3d(-50%, -50%, 0) scale(1);
    }

        &:active:before,
        &:active:after {
            transform: translate3d(-50%, -50%, 0) scale(1.25);
        }

    &:before {
        text-shadow: 0  1px 0 rgba($brown, .9),
                     0  2px 0 rgba($brown, .9),
                     0  3px 0 rgba($brown, .8),
                     0  4px 0 rgba($brown, .7),
                     0  5px 0 rgba($brown, .6),
                     0  6px 0 rgba($brown, .5);
        z-index: 2;
    }

    &:after {
        background-image: -webkit-linear-gradient(gold 0%, gold 15%, moccasin 40%, gold 85%, goldenrod 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: 0 0 .5em rgba($white, .5);
        z-index: 3;
        animation: shiny 2s linear 1s infinite;
    }

    img,
    svg {
        height: 95%;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    svg {
        width: 200vw;
        width: 4000px;
        min-width: 100%;
    }

}

@keyframes shiny {
    16.66% {
        background-image: linear-gradient(lighten(gold, 50%) 0%, gold 15%, moccasin 40%, gold 85%, goldenrod 100%);
    }
    33.33% {
        background-image: linear-gradient(gold 0%, lighten(gold, 50%) 15%, moccasin 40%, gold 85%, goldenrod 100%);
    }
    50% {
        background-image: linear-gradient(gold 0%, gold 15%, lighten(moccasin, 50%) 40%, gold 85%, goldenrod 100%);
    }
    66.66% {
        background-image: linear-gradient(gold 0%, gold 15%, moccasin 40%, lighten(gold, 50%) 85%, goldenrod 100%);
    }
    83.33% {
        background-image: linear-gradient(gold 0%, gold 15%, moccasin 40%, gold 85%, lighten(goldenrod, 50%) 100%);
    }
}
