/*------------------------------------*\
    $ NYER CREDITS
\*------------------------------------*/

.credits {
    position: absolute;
    bottom: 1em;
    left: 50%;
    line-height: 2.5em;
    text-shadow: 0 0 .5em $black;
    white-space: nowrap;
    z-index: 4;
    transform: translateX(-50%);

    @include breakpoint("mobile") {
        font-size: .8125em;
    }

    svg {
        width:  2.5em;
        height: 2.5em;
        display: inline-block;
        vertical-align: middle;
        margin-left: .25em;
    }

    a {
        color: $blue;
        text-decoration: none;
    }

    div {
        display: inline;
        @include breakpoint("mobile") {
            display: block;
            text-align: center;
        }
    }

    @include breakpoint("mobile") {
        span {
            display: none;
        }
    }

}
