/*------------------------------------*\
    $ NYER HORN LIST
\*------------------------------------*/

input[name="toggle-horn-list"] {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 100%;
}
.show-horn-list,
.hide-horn-list {
    display: block;
    position: absolute;
    cursor: pointer;
    z-index: 5;
}
    .show-horn-list {
        background: $blue;
        color: $white;
        opacity: .5;
        padding: 1em;
        top:  .625em;
        left: 50%;
        font-size: .8em;
        border-radius: .375em;
        box-shadow: inset 0  1px 0 0 rgba($white, .5),
                    inset 0 -3px 0 0 rgba($black, .5);
        transform: translate3d(-50%, -150%, 0);
        transition: opacity .2s ease-in-out, transform .2s cubic-bezier(.5, .9, .8, 1.25);
        &:hover,
        &:focus {
            opacity: 1;
        }
        #hide-horn-list:checked ~ & {
            transform: translate3d(-50%, 0, 0);
        }
    }
    .hide-horn-list {
        background: rgba($black, .9);
        width: 100%;
        height: 100%;
        display: none;
        top:  0;
        left: 0;
        z-index: 5;
        #show-horn-list:checked ~ & {
            display: block;
        }
        span {
            color: $white;
            display: block;
            position: absolute;
            bottom: 1em;
            left: 50%;
            transform: translateX(-50%);
            &:before {
                content: "\2716\00a0";
            }
        }
    }
.horn-list-container {
    background: $blue;
    color: $white;
    width: auto;
    min-width: 16em;
    max-width: 90%;
    padding: 3em .5em .5em;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 6;
    border-radius: 0 0 .375em .375em;
    box-shadow: inset 0 -3px 0 0 rgba($black, .5);
    transform: translate3d(-50%, -100%, 0);
    transition: transform .2s cubic-bezier(.5, .9, .8, 1.25);
    #show-horn-list:checked ~ & {
        transform: translate3d(-50%, -2.5em, 0);
    }
}
.horn-list {
    width: 100%;
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
    counter-reset: ordered-list;
    li {
        position: relative;
        counter-increment: ordered-list;
    }
    a {
        width: 100%;
        display: block;
        padding: .5em;
        text-decoration: none;
        &:hover,
        &:focus {
            text-decoration: underline;
        }
        &:before {
            content: counter(ordered-list) ".";
            color: rgba($white, .75);
            display: inline-block;
            min-width: 1.5em;
        }
    }
}
