    /*------------------------------------*\
    $ NYER INSTRUCTIONS
\*------------------------------------*/

.instructions {
    @extend %full;
    opacity: 1;
    font-size: 3em;
    text-align: center;
    white-space: nowrap;
    z-index: 0;
    transition: opacity .1s linear .9s;

    @include breakpoint("tablet") {
        font-size: 2em;
    }

    @include breakpoint("mobile") {
        font-size: 1em;
    }

    h2,
    h3 {
        line-height: 1.5em;
        margin: 0;
    }

    h2 {
        margin-bottom: .5em;
    }

    h3 {
        color: lighten($gray, 50%);
        font-size: .8em;

        @include breakpoint("mobile") {
            font-size: 1em;
        }

    }

    button:active + & {
        opacity: 0;
        transition: none;
    }

}
