// Colours

$gray:  #111111;
$black: #000000;
$white: #FFFFFF;
$brown: rgb(196, 148, 29);
$blue:  #5F8AA6;

// Font Stack

$base-font-size:     16px;
$primary-font-stack: "Montserrat", sans-serif;

// Media Queries and Extends

$tablet-wrapper-width: 800px;
$mobile-wrapper-width: 500px;

@mixin breakpoint($width) {
    @if $width == "tablet" {
        @media screen and (max-width: $tablet-wrapper-width) { @content ; }
    }
    @else if $width == "mobile" {
        @media screen and (max-width: $mobile-wrapper-width) { @content ; }
    }
}
%full {
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}
