    <div class="credits">
        <div>by <a href="{{ site.author_url }}" title="{{ site.author }}"><svg><use xlink:href="#svg-raven" /></svg> {{ site.author }}</a></div>
        <span> &bull; </span>
        <div>find us on <a href="{{ site.author_github }}" title="NYER on Github">Github</a></div>
    </div>

    {% include js-body.html %}

</body>
</html>
