<!DOCTYPE html>

<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

    <!-- Prefetch DNS for external assets (Google Fonts, Google Analytics) -->
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="dns-prefetch" href="//www.google-analytics.com">

    <title>{{ page.title }} – {{ site.title }}</title>

    <link rel="stylesheet" href="/css/nyer.min.css">
    <link rel="shortcut icon" href="/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/favicon.png">
    <link rel="author" type="text/plain" href="/humans.txt">
    <meta name="description" content="{% if page.page_class != "home-page" %}{{ page.title }} – {% endif %}{{ site.description }}">
    <meta name="apple-mobile-web-app-title" content="{{ page.title }} – {{ site.title }}">

    <meta http-equiv="cleartype" content="on">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <!--[if lt IE 9]>
        <script src="/js/html5shiv.min.js"></script>
    <![endif]-->

    {% if page.page_class != "not-found-page" %}
    <!-- OpenGraph and Twitter Microdata -->
    <meta property="og:title" content="{{ page.title }} – {{ site.title }}">
    <meta property="og:description" content="{% if page.page_class != "home-page" %}{{ page.title }} – {% endif %}{{ site.description }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ site.url }}{% if page.page_class != "home-page" %}{{ page.url }}{% endif %}">
    <meta property="og:image" content="/favicon.png">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:creator" content="@{{ site.author_twitter }}">
    <meta name="twitter:title" content="{{ page.title }} – {{ site.title }}">
    <meta name="twitter:description" content="{% if page.page_class != "home-page" %}{{ page.title }} – {% endif %}{{ site.description }}">
    <meta name="twitter:image:src" content="/favicon.png">
    <meta name="twitter:domain" content="nyer.audio">
    {% else %}
    <meta name="robots" content="noindex,nofollow">
    {% endif %}

</head>
<body{% if page.page_class %} class="{{ page.page_class }}"{% endif %}>
