{% include header.html %}

    {% include inline-svg.html %}

    <section class="nyer" role="main">

        <article>

            <h1 class="hidden" role="heading">{{ page.title }}</h1>
            <h2 class="hidden">{{ page.title_active }}</h2>

            <button data-text="{% if page.text %}{{ page.text }}{% else %}{{ page.title }}{% endif %}">
                <img src="/images/{{ page.image }}" alt="{{ page.title }}" role="presentation">
            </button>

            <div class="instructions">
                <h2>{{ page.title }}</h2>
                <h3>Click or Tap!</h3>
                <h3>Warning—audio will play!</h3>
                <noscript>You must have Javascript enabled to wild out.</noscript>
            </div>

            <audio>
                <source src="/sounds/{{ page.sound }}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>

        </article>

        <aside role="complementary">

            <input type="radio" name="toggle-horn-list" id="show-horn-list" aria-hidden="true">
            <input type="radio" name="toggle-horn-list" id="hide-horn-list" aria-hidden="true" checked>
            <label class="show-horn-list" for="show-horn-list" aria-hidden="true">More Horns</label>
            <label class="hide-horn-list" for="hide-horn-list" aria-hidden="true"><span>Close Menu</span></label>

            <div class="horn-list-container">
                <ol class="horn-list" role="list">
                    <li><a href="/" title="Classic Rap Air Horn">Classic Rap Air Horn</a></li>
                    {% for post in site.posts reversed %}
                        <li><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
                    {% endfor %}
                </ol>
            </div>

        </aside>

    </section>

{% include footer.html %}
